#number-guess, #result, #history {
    max-width: 400px;
    margin: 0 auto;
    border: #FFD23F;
}

* html, body {
    background-image: url("1080p dice roll.jpg");
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
li.list-group-item{
    background-color: #FFD23F;
    border: #FFD23F;
    color: black;
    font-weight: 500%;
    font-size: 1.2em;
    text-transform: capitalize;
}
#history {
    margin-top: 16px;
}
p#countdown{
    font-family: 'Orbitron', sans-serif;
    font-size: 5rem;
    display: inline-flex;
}
.form-group{
max-width: 400px;
margin: 0 auto;
}

main{
    margin-top: -17.5em;
    margin-left: 35%;
    max-width: 500px;
    padding-left: 2em;
    padding-right: 2em;
    border: solid darkgreen ;
    border-width: 20px;
    border-style: groove;
    }

#banner{
    color: #FFD23F;
    font-size: 110px;
    font-family: sans-serif;
}
.begin, #number-submit, #restart-game{
margin: 2em;
justify-content: space-evenly;
align-items: center;
display: inline-flex;

}
#number-submit, #restart-game{
height: 40px;
margin: 1.3em;
}
.container{
  box-sizing: inherit;  
}
/*MAKE IT MOBILE FRIENDLY*/
@media screen and (min-width: 736px) and (max-width:1024px) {

    body .text-center{
        position: relative;
    }
    * html{
        background-size: cover;
        background-position: center;
    }
    main{
        position: absolute;
        top: 38%;
        left: -9%;
        width: 60%; 
        height: 452px;
        justify-self: center;
    
}


.navbar-brand{
    position: absolute;
    left:  41%;
    top: 5pxs;
}
.counter{
position: absolute;
left: 33%;

}
nav  {
    height: 50px;
}
}
